{% extends 'base.html.twig' %}

{% block title %}CSKS91 - Le Planning{% endblock %}

{% block body %}
  {{parent()}}

  <div class="container p-3">
    <div class="row">
      <div class="col-lg-4">
        <div class="row">
          <div class="col bg-secondary text-white">Lundi</div>
          <div class="col">
            <div class="row border">
              <strong class="text-center">19h à 19h45</strong>
              <p class="text-center">Cours Enfants</p>
            </div>
            <div class="row border">
              <strong class="text-center">19h45 à 22h</strong>
              <p class="text-center">Cours Adultes</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="row">
          <div class="col bg-secondary text-white">Jeudi</div>
          <div class="col">
            <div class="row border">
              <strong class="text-center">18h à 18h45</strong>
              <p class="text-center">Cours Enfants</p>
            </div>
            <div class="row border">
              <strong class="text-center">19h à 20h30</strong>
              <p class="text-center">Cours Adultes</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="row">
          <div class="col bg-secondary text-white">Samedi</div>
          <div class="col">
            <div class="row bg-info text-white border">
              <strong class="text-center">10h à 10h45</strong>
              <p class="text-center">Cours Baby Karaté</p>
            </div>
            <div class="row border">
              <strong class="text-center">10h45 à 12h</strong>
              <p class="text-center">Self Défense, Kata</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
