{% extends 'base.html.twig' %}

{% block title %}Les Tarifs{% endblock %}

{% block body %}
  {{parent()}}

  <div class="container p-3">
    <p>Voir Françoise Renay pour les possibilités de payement par trimestre.
    exemple si 1er trimestre passé, règlement sur les 2 trimestres restants</p>
    <p>Tél 0681606919</p>
    <p>Tél 0684171702    Yves Renay</p>
    <br/>

    <strong>Pensez au certificat médicale, ainsi qu'à l'autorisation parentale pour les mineurs</strong>

    <br/>
    <table class="table">
      <thead>
        <tr>
        <th><p>Cotisation annuelle</p></th><th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><p>Pour le premier membre de la famille</p>
          </td>
          <td><p class="text-right">170€</p>
          </td>
        </tr>
        <tr>
          <td><p>Pour le deuxième membre de la famille</p>
          </td>
          <td><p class="text-right">115€</p>
          </td>
        </tr>
        <tr>
          <td><p>Pour le troisième de la famille</p>
          </td>
          <td><p class="text-right">30€</p>
          </td>
        </tr>
        <tr>
          <td><p>Cours de Baby Karaté</p>
          </td>
          <td><p class="text-right">105€</p>
          </td>
        </tr>
        <tr>
          <td><p>Ainsi que la licence  FFKDA qui vous assure par personne</p>
          </td>
          <td><p class="text-right">37€</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock %}
