{% extends 'base.html.twig' %}

{% block title %}CSKS91 - Les Tarifs{% endblock %}

{% block body %}
  {{parent()}}

  <div class="container p-3">
    <p>Voir Françoise Renay pour les possibilités de payement par trimestre.
    exemple si 1er trimestre passé, règlement sur les 2 trimestres restants</p>
    <p>Tél 0681606919</p>
    <p>Tél 0684171702    Yves Renay</p>
    <br/>

    <strong>Pensez au certificat médicale, ainsi qu'à l'autorisation parentale pour les mineurs</strong>

    <br/>
    <table>
      <thead>
        <th>Cotisation annuelle</th><th></th>
      </thead>
      <tbody>
        <tr>
          <td>Pour le premier membre de la famille
          </td>
          <td>170 €
          </td>
        </tr>
        <tr>
          <td>Pour le deuxième membre de la famille
          </td>
          <td>115 €
          </td>
        </tr>
        <tr>
          <td>Pour le troisième de la famille
          </td>
          <td>30 €
          </td>
        </tr>
        <tr>
          <td>Cours de Baby Karaté
          </td>
          <td>105 €
          </td>
        </tr>
        <tr>
          <td>Ainsi que la licence  FFKDA qui vous assure par personne
          </td>
          <td>37 €
          </td>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock %}
