{% extends 'security/base.html.twig' %}

{% block title %}CSKS91 Admin - Email envoyé{% endblock %}

{% block body %}
    <p>Un email vous a été envoyé pour réinitialiser votre mot de passe contenant un lien pour le changer. Ce lien expirera dans  {{ tokenLifetime|date('g') }} heure(s)...</p>
    <p>Si vous ne voyez pas l'email regarder vos spam ou <a href="{{ path('app_forgot_password_request') }}">Envoyez encore</a>.</p>
{% endblock %}
