{% extends 'base.html.twig' %}

{% block title %}CSKS91 - Les Bienfaits du Karaté{% endblock %}

{% block body %}
  {{parent()}}

<div class="">
    <h2>Les bienfaits du karaté sont</h2>
    <ul>
      <li>la tonicité par le renforcement musculaire</li>
      <li>le streching souplesse</li>
      <li>le bénéfice cardio vasculaire dont limite le veillissement des artères</li>
      <li>la mémoire avec les enchainements techniques</li>
      <li>l'évacuation du stress, après le travail</li>
      <li>l'évacuation du stress, après le travail</li>
      <li>l'équilibre par le travail des positions, la coordination pieds poings déplacements</li>
      <li></li>
    </ul>

    <p>La sécurité est assuré par un professeur diplômé d'état, le club est affilié à la FFKDA, le karaté peut aussi être pratiqué sans aucun contact.</p>

    <p>Les vétérans, séniors femmes et hommes comme les enfants y trouvent un esprit de convivialité et le club est également lieu de socialisation. Plus d'assurance, plus d'épanouissement. Le karaté ouvre les voies de l'Auto-Défense.</p>

</div>
{% endblock %}
