{% extends 'base.html.twig' %}

{% block title %}CSKS91 - Page d'accueil{% endblock %}

{% block body %}
  {{parent()}}

<div class="p-3">
    <p>Bienvenue au CSKS91 club de karaté cours adaptés baby karaté enfants ados juniors et adultes. karaté et self cours pour filles et garçons, adultes féminin, masculin</p>
    <p>Initiation karaté pour enfants, ados juniors adultes entraînement khions katas bunkaï, progression régulière pour tous. Préparation pour passage de grade</p>
    <p>INFORMATIONS CSKS91  Tél 0681606919, Tél 0684171702 le professeur diplômé DEJEPS</p>
    <p>à Boussy Saint Antoine, la saison Karaté reprend avec votre club, dès ce lundi 7 septembre 2020
le CSKS91</p>
</div>
{% endblock %}
