{% extends 'base.html.twig' %}

{% block title %}CSKS91 - Mentions Légales{% endblock %}

{% block body %}
  {{parent()}}

<div class="p-3">
    <p>Ce site internet est le résultat d'un projet étudiant simulant la migration du site www.csks91.com sous symfony, les droits intellectuelles des fonctionnalités de base appartiennent à Yves Renais développeur du site de départ</p>

    <p>Conformément aux dispositions de la loi n° 2004-575 du 21 juin 2004 pour la confiance en l’économie numérique, il est précisé aux utilisateurs du site csks91-asso.fr l’identité des différents intervenants dans le cadre de sa réalisation et de son suivi.</p>
</div>
{% endblock %}
