{% extends 'redactor/base.html.twig' %}

{% block title %}CSKS91 Admin - {{formName}}{% endblock title %}

{% block body %}

    {{ parent() }}

    <div class="col-10 p-3">
        {{ form_start(form) }}
        {{ form_end(form) }}
    </div>

{% endblock %}