{% extends 'base.html.twig' %}

{% block title %}CSKS91 - Page d'accueil{% endblock %}

{% block body %}
  {{parent()}}
  <h1>{{ video.title }}</h1>
  <p>{{ video.description}}</p>
  <p>Publié le {{ video.getDate()|date('d/m/y') }}</p>
{% endblock %}
