{% extends 'base.html.twig' %}

{% block title %}CSKS91 - Page d'accueil{% endblock %}

{% block body %}
  {{parent()}}
  <h1>{{ blog.title }}</h1>
  <div>
  {{ blog.content|raw }}
  </div>
  <p>Publié le {{ blog.getDate()|date('d/m/y') }}</p>
{% endblock %}
