{% extends 'base.html.twig' %}

{% block title %}CSKS91 - {{blog.getTitle()}}{% endblock %}

{% block body %}
  {{parent()}}
  <div>
  {{ blog.content|raw }}
  </div>
  <p>Publié le {{ blog.getDate()|date('d/m/y') }}</p>
{% endblock %}
