{% extends 'base.html.twig' %}

{% block title %}CSKS91 - {{formName}}{% endblock title %}

{% block body %}
    <div class="p-3">
        <h2>Nos Coordonnées</h2>
        <div class="row">
            <div class="col">
                <strong>Siège social</strong>
                <p>CSKS91</p>
                <p>Adresse Mr PORTAL, Parc des Thibaudières, 2 allée des Platanes, 91800 Boussy Saint Antoine</p>
            </div>
            <div class="col">
                <strong>Présidente</strong>
                <p>Françoise RENAY</p>
                <p>Téléphone: 0681606919</p>
                <p>Email: francoiserenay@wanadoo.fr<br>
                     francoise.csks91@gmail.com</p>
            </div>
            <div class="col">
                <strong>Développeur</strong>
                <p>Fakum BACCAM</p>
                <p>Téléphone</p>
                <p>Email: fakum.baccam@gmail.com</p>
            </div>
        </div>
    </div>
    <div class="p-3">
        <h3>Laissez-nous un message</h3>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>

{% endblock %}
