<!DOCTYPE html>
<html>
    <head>
        
        {% block meta %}
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="generator" content="1&amp;1 IONOS MyWebsite">

        <meta name="viewport" content="width=1025"/>
        <meta name="format-detection" content="telephone=no"/>
        <meta name="keywords" content="Informations, Légales"/>
        <meta name="description" content=", Epinay sous Senart: nos mentions légales"/>
        <meta name="robots" content="index,follow"/>

        <meta property="og:type" content="business.business"/>
        <meta property="og:url" content="https://www.csks91.com/mentions-légales/"/>
        <meta property="og:title" content="csks91 ou  karaté à Boussy Saint Antoine ambiance symphatique avec respect du code moral karaté initiation pour les enfants,cours khions katas explications bunkaï pour ados adultes - Mentions légales"/>
        <meta property="og:description" content=", Epinay sous Senart: nos mentions légales"/> <meta property="og:image"  content="https://www.csks91.com/s/misc/logo.jpg?t=1598695028"/>
        <meta property="business:contact_data:country_name" content="France"/>
        <meta property="business:contact_data:locality" content="Boussy Saint-Antoine"/>
        <meta property="business:contact_data:region" content="500"/>
        <meta property="business:contact_data:email" content="fakum.baccam@gmail.com"/>
        <meta property="business:contact_data:postal_code" content="91800"/>
        <meta property="business:contact_data:phone_number" content=""/>
        <meta property="business:hours:day" content="MONDAY"/>
        <meta property="business:hours:start" content="19:15"/>
        <meta property="business:hours:end" content="21:30"/>
        <meta property="business:hours:day" content="THURSDAY"/>
        <meta property="business:hours:start" content="18:15"/>
        <meta property="business:hours:end" content="20:30"/>
        {% endblock %}
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <!-- Fontawesome -->
        <script src="https://kit.fontawesome.com/c11f0f7fde.js" crossorigin="anonymous"></script>
        <!-- CSS only -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

        <!-- JS, Popper.js, and jQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        {% endblock %}
    </head>
    <body>
    <div class="container">
        {% block body %}
        
            
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand d-none d-lg-inline" href="#"><img></img></a>
                <a class="navbar-brand d-lg-none d-inline" href="#">CSKS 91</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="infoDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Informations
                            </a>
                            <div class="dropdown-menu" aria-labelledby="infoDropdown">
                                <a class="dropdown-item" href="#">Planning</a>
                                <a class="dropdown-item" href="#">Tarif</a>
                                <a class="dropdown-item" href="#">Plan d'accès</a>
                            </div>
                        </li>                   
                        <li class="nav-item">
                            <a class="nav-link" href="{{path('blog')}}">Blogs</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="karateDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Le Karaté
                            </a>
                            <div class="dropdown-menu" aria-labelledby="karateDropdown">
                                <a class="dropdown-item" href="#">Ses Bienfaits</a>
                                <a class="dropdown-item" href="{{path('video')}}">Vidéos Youtubes</a>
                            </div>
                        </li>   
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contactez Nous</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Equippez Vous</a>
                        </li>
                        </ul>
                </div>
            </nav>

            <div class="row">
                <div class="col-md-8 offset-md-2 text-center">
                    <h1>{{ block("title") }}</h1>
                </div>
            </div>
        {% endblock %}
        </div>
        <footer>
        {% block footer %}
            <div class="container bg-light pt-2">
                <div class="row mx-1">
                    <div class="col ">
                        <a class="" href-"#">Accueil</a>
                    </div>
                    <div class="col m">
                        <a class="" href="#">Mentions légales</a>
                    </div>
                    <div class="col">
                        <a class="" href="#">Contact</a>
                    </div>
                </div>
                <hr/>
                <div class="row mx-1">
                    <p>{{ copyright|raw }}</p>
                </div>
            </div>
        {% endblock %}
        </footer>
        {% block javascripts %}{% endblock %}
    </body>
</html>
